*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.container{
    max-width: 1179px;
    margin: 0 auto;
    
}

.img_inner{
    padding-right: 40px;
}

.card_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.prod_name{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

.price{
    padding-top: 18px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
}


.rating{
    padding-top: 18px;
}

.star {
    font-size: 30px; /* Размер звездочки */
    color: #D5D8DB; /* Цвет звездочки */
    cursor: pointer; /* Изменяем курсор при наведении на звездочку */
  }
  
  .rating .star:not(:last-child) {
    margin-right: 5px; /* Отступ между звездочками, кроме последней */
  }
  
  .rating .star.active,
  .rating:hover .star:hover {
    color: #4C4BDC; /* Изменяем цвет звездочки, когда она выбрана или находится внутри .rating:hover */
  }


.prod_descr{
    display: inline-block;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #595959;
    padding-top: 30px;
    max-width: 459px;

}
.sizes_wrapper{
    margin-top: 32px;
}

.sizes_inner{
    margin-top: 8px;
}


.sizes_inner {
    display: flex;
    flex-direction: row;
  }
  
  .sizes_inner input[type="radio"] {
    display: none;
  }
  
  .sizes_inner label {
    font-family: 'Inter';
    font-size: 14px;
    display: inline-block;
    width: 88px;
    height: 37px;
    border: 1px solid #b7b7b7;
    border-radius:4px;
    /* margin-right: 10px; */
    text-align: center;
    line-height: 37px;
    cursor: pointer;
  }
  
  .sizes_inner input[type="radio"]:checked + label {
    background-color: #4C4BDC;
    color: #fff;
  }
  


  .size{
    display: inline-block;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #595959;
    text-align: left;
    padding-right: 284px;
    
}

.directory{
    display: inline-block;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #4C4BDC;
    text-align: right;
}

.amount{
    padding-top: 30px;
}

.amounts{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #595959;

}

.field_counter{
    margin-top: 10px;
    width: 83px;
    height: 37px;
    border: 1px solid #B7B7B7;
    border-radius: 4px;
}

input{
    text-align: center;
}

.pos{
    height: 37px;
    width: 20px;
    background-color: #4C4BDC;
    color: #fff;
    border: none;
    border-radius: 4px
}

.neg{
    height: 37px;
    width: 20px;
    background-color: #4C4BDC;
    color: #fff;
    border: none;
    border-radius: 4px
}

.buy{
    width: 460px;
    height: 50px;
    background-color: #4c4bdc;
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
}

.buy:hover{
    background-color: #fff;
    color: #4c4bdc;
    border: 2px solid #4c4bdc;

}

.accordion-container{
    margin-top: 30px;
    max-width: 459px;
}

    /* accordion title text styles */
    .accordion-container p.accordion {
        font-family: 'Inter';
        font-size: 16px;
        color:#4C4BDC;
        font-weight: 600;
        line-height: 36px;
      }
  
      /* accordion content text styles */
      .accordion-container .accordion-content ul {
        font-family: 'Inter';
        font-size: 14px;
      }
  
      /* accordion content link styles */
      .accordion-container .accordion-content li {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        list-style: inside;
      }
  
      /* accordion title styles */
      .accordion-container .accordion {
        cursor: pointer;
        padding: 30px 8px;
        margin: 0;
        font-weight: 300;
      }
  
      /* accordion icon box styles */
      .accordion-container .accordion::after {
        content: '✕';
        float: right;
        transform: rotate(-45deg);
        font-size: 11px;
        transition: .2s ease-out;
      }
  
      /* accordion icon box styles: opened  */
      .accordion-container .active::after {
        content: "✕";
        transform: rotate(0deg);
        font-size: 11px;
      }
  
      /* accordion content box styles: default */
      .accordion-container .accordion-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        border-bottom: 1px solid #999;
      }
  